ANTHROPIC_API_KEY=
MAIN_MODEL=
CLASSIFIER_MODEL=
DEV_MOCK_CHAT=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
HASHED_IP_SALT=
KV_REST_API_URL=
KV_REST_API_TOKEN=
SOFT_PAUSE_ENABLED=
HARD_PAUSE_ENABLED=
DAILY_SPEND_LIMIT_USD=
MAIN_MODEL_INPUT_COST_PER_MILLION_USD=
MAIN_MODEL_OUTPUT_COST_PER_MILLION_USD=
CLASSIFIER_MODEL_INPUT_COST_PER_MILLION_USD=
CLASSIFIER_MODEL_OUTPUT_COST_PER_MILLION_USD=
