<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.streetlight.ui-sentry</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/alexmercer/streetlight/scripts/ui-sentry/run-ui-sentry.sh</string>
		<string>--live</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/alexmercer/.streetlight/ui-sentry/launchd.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/alexmercer/.streetlight/ui-sentry/launchd.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>Minute</key>
			<integer>23</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/alexmercer/streetlight/scripts/ui-sentry</string>
</dict>
</plist>
